<!DOCTYPE html>
<html>
  <head>
    <title>GoVote</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

  </head>
  <body>
  	{{> index}}
  </body>
</html>

