body {
	padding: 50px;
	font-family:"Raleway", Helvetica, Arial, sans-serif;
}

button, input {
	font-family:"Raleway", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

#zipcode-input {
	font-size:1.6em;
	padding:0.4em;
	border-radius: 5px;
	border:1px solid #cccccc
}

#zipcode-btn {
	font-size: 1.6em;
	padding:0.4em;
	border-radius: 5px;
	border:1px solid #cccccc;
	background-color: lightskyblue;
}