body {
	padding: 50px;
	font-family:"Raleway", Helvetica, Arial, sans-serif;
}

button, input {
	font-family:"Raleway", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

#zipcode-input {
	font-size:1.8em;
	padding:0.2em;
	border-radius: ;
}